.mt10{margin-top: 10px;}
.mr5{margin-right: 25px;}
.mb10{margin-bottom: 10px;}
.input-group li{list-style: none;}

.nav-right{float: right; width: 10%;}
.e_tab_content{float: left; width: 88%;}

.nav-right > li > a {
    color: #555;
    cursor: default;
    background-color: #FFF;
    border:1px solid #ddd;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: pointer;
}

.nav-right > li.active > a, .nav-right > li.active > a:focus, .nav-right > li.active > a:hover {
    color: #333;
    cursor: default;
    background-color: #F5F5F5;
    border:1px solid #ddd;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: pointer;
}

.tc{text-align: center;}
.bg_y{background: #f8f8f1;}